div{
    width: 45%;
    float: left;
    border: 2px solid #000000;
    padding: 25px;
    margin: 8px;
}
#stanga{background-color: azure;
}
#dreapta{background-color: chocolate;
}
#idp5{
    color: green;
}
.p1{
    color: red;
}
.p2{
    color: #ffffff;
}
.p3{
    font-size: 50px;
}
#bottom{
    width: 100%;
}
#bottom > p{
    color: red;
}
#bottom article+p{
    color: blue;
}